body {
    background: url("../images/page1_bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background: rgba(113, 133, 239, 0.8);
    border: 1px solid #435EEF;
}

.btn-header {
    background: #435EEF;
    border-color: #435EEF;
}

.btn:hover {
    background: #FFB600;
    transition: 0.1ms;
}

.nav-link {
    color: #fff;
    cursor: pointer;
}

a:hover {
    transition: 0.1s;
    color: #FFD773;
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2rem;
}

.description p{
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.fa-bars {
    color: #ffffff;
}

.fa-home {
    font-size: 1.2rem;
}

.about-bg {
    background: rgba(255, 200, 64, 0.9);
    border: 2px solid #edac95;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about{
    width: 100%;
    padding: 1rem;
    position: relative;
}

.about .desc{
    padding: 2em;
    border-left: 2px solid #10828C;
}

.about .desc p{
    line-height:2;
}