body {
    background: url("../images/page1_bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background: rgba(113, 133, 239, 0.8);
    border: 1px solid #435EEF;
}

.btn {
    background: #435EEF;
    border-color: #435EEF;
}

.btn:hover {
    background: #FFB600;
    transition: 0.1ms;
}

.nav-link {
    color: #fff;
}

a:hover {
    transition: 0.1s;
    color: #FFD773;
}

.page1 {
    height:100vh;
}

.page1-content {
    display: flex;
    height: 90%;
    margin: 0 10%;
}

.fa-bars {
    color: #ffffff;
}

.fa-home {
    font-size: 1.2rem;
}

.about-me-color {
    background: rgba(255, 200, 64, 0.9);
    border: 2px solid #edac95;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about-me-worker-border {
    border-right: 3px solid     blue;
}