.navbar {
    width: 100%;
    background: rgba(255, 11, 254, 0.8);
    border: 3px solid #e638e6;
}

.nav-link {
    border: #fff 2px;
    color: #fff;
}

a:hover {
    transition: 0.5s;
}

.page1-bg {
    height:100vh;

    background-size: cover;
}

.page1-content {
    display: flex;
    width: 60%;
    height: 80%;
   /* background-color: red;*/
    margin-left: 10%;
}

.intro-block {
    width: 100%;
    margin: auto;
}

.margin-left-auto {
    margin-left: auto;
}